<h2>Appointment Modified</h2>
<p>Dear {{ adviser }}</p>
<p>Your Appointment has been modified: </p>
<p>New Details:</p>
<ul>
  <li>Date: {{ appointment_date }}</li>
  <li>Time: {{ appointment_time }}</li>
  <li>Client: {{ user }}</li>
  <li>Agency: {{ agency }}</li>
</ul>
<p>Please confirm the appointment details.</p>