<h2>New Appointment Notification</h2>
<p>Dear {{ adviser }}</p>
<p>You have a new appointment confirmed: </p>
<ul>
  <li>Date: {{ appointment_date }}</li>
  <li>Time: {{ appointment_time }}</li>
  <li>Client: {{ user }}</li>
  <li>Agency: {{ agency }}</li>
</ul>
<p>Please confirm the appointment details.</p>