<h2>Appointment Confirmation</h2>
<p>Your appointment has been confirmed: {{user}}</p>
<ul>
  <li>Date:  {{appointment_date }}</li>
  <li>Time: {{ appointment_time }}</li>
  <li>Agency: {{ agency }}</li>
  <li>Adviser: {{ adviser }}</li>
</ul>
<p>Thank you for booking with us!</p>